* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Maple Mono NF CN;
    font-size: 12px;
    font-weight: 500;
}

window#waybar {
background-color: rgba(10, 18, 25, 0.7);
    border: 0.7px solid rgba(0,0,0,0);
    color: #ffffff;
border: 2px solid #1F4968;
    transition-duration: .5s;
    border-radius: 7px;
    
}

#custom-code {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-yt-music {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 13px 2px 7px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}


#custom-youtube {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 13px 2px 7px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}


#custom-ryujinx {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}


#custom-discord {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 14px 2px 6px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-steam {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-dolphin {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 10px 2px 10px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-gimp {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 13px 2px 7px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(29,19,36,0.8);
color:#CAAE48;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-kdenlive {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 13px 2px 7px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-inkscape {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 13px 2px 7px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-ghostty {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 11px 2px 9px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-unity {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 10.5px 2px 9.5px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-blender {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-libreoffice {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-obs {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 11px 2px 9px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-shortwave {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-obsidian {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}
#custom-godot {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-ardour {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 10px 2px 10px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-btdbattles {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 11.5px 2px 8.5px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-settings {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12.5px 2px 7.5px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-finals {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12.5px 2px 7.5px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}


#custom-persona {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 13px 2px 7px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-minecraft {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-firefox {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;
padding: 2px 12px 2px 8px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(26, 71, 114, 0.2);
transition: all 0.2s ease-in-out;
color:#87a2ba;
}

#custom-minecraft:hover,
#custom-firefox:hover,
#custom-code:hover,
#custom-yt-music:hover,
#custom-youtube:hover,
#custom-ryujinx:hover,
#custom-discord:hover,
#custom-steam:hover,
#custom-dolphin:hover,
#custom-gimp:hover,
#custom-kdenlive:hover,
#custom-inkscape:hover,
#custom-ghostty:hover,
#custom-unity:hover,
#custom-blender:hover,
#custom-libreoffice:hover,
#custom-obs:hover,
#custom-shortwave:hover,
#custom-obsidian:hover,
#custom-godot:hover,
#custom-ardour:hover,
#custom-btdbattles:hover,
#custom-settings:hover,
#custom-finals:hover,
#custom-persona:hover {
background-color: rgba(10, 18, 25, 0.7);
color:#4B394F;
transition: all 0.2s ease-in-out;
}
