/* ranger097 */

window#waybar {
background-color: rgba(0,0,0,1);
background: linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,1));
}


#custom-spacerRight,
#custom-spacerLeft,
#custom-VacuumTube,
#custom-ProtonVpn,
#custom-code,
#custom-ghostty,
#custom-steam,
#custom-firefox, 
#custom-discord {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
margin-top: 1px;
margin-bottom: 0px;
margin-left: 1px;
margin-right: 1px;
border: 0px solid rgba(0,0,0,1);
border-radius: 0px;
font-family: Maple Mono NF;
font-size: 11px;
font-weight: 700;
background: linear-gradient(#1c1c1c,#3c3c3c, rgba(200,60,60,1));
color:#000000;
}

#custom-discord {
margin-right: 0px;

}

#custom-VacuumTube {
margin-left: 0px;
}


#custom-spacerRight {
border-radius: 0px 100px 0px 0px;
}


#custom-spacerLeft {
border-radius: 100px 0px 0px 0px;
}
