/* ranger097 */

window#waybar {background-color: rgba(0,0,0,1);}

#custom-VacuumTube,
#custom-ProtonVpn,
#custom-code,
#custom-ghostty,
#custom-steam,
#custom-firefox, 
#custom-discord {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
margin-top: 9px;
margin-bottom: 9px;
margin-left: 3px;
margin-right: 3px;
border: 1px solid #000000;
border-radius: 4px;
font-family: Maple Mono NF;
font-size: 11px;
font-weight: 700;
background-color: rgba(255,70,70,0.7);
color:#1c1c1c;
box-shadow: -2px 2px 2px rgba(0,0,0,0.4);
}

#custom-discord {
margin-right: 13px;

}

#custom-VacuumTube {
margin-left: 13px;
}
