/* ranger097 */

window#waybar {
background: linear-gradient(0deg,rgba(0,0,0,0.5));
border-top: 1px solid #000000;
}


#custom-spacerRight,
#custom-spacerLeft,
#custom-power,
#custom-VacuumTube,
#custom-ProtonVpn,
#custom-code,
#custom-ghostty,
#custom-steam,
#custom-firefox, 
#custom-discord,
#custom-qmmp,
#custom-blender,
#custom-dolphin,
#custom-volume {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 8px;
padding-right: 8px;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 0px;
margin-right: 0px;
border-top: 0px solid rgba(0,0,0,1);
border-bottom: 0px solid rgba(200,60,60,1);
border-radius: 0px;
font-family: Maple Mono NF;
font-size: 11px;
font-weight: 400;
background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0));
color:#a9a9a9;
/*box-shadow: -1px 2px 2px rgba(0,0,0,0.4);*/
}


#custom-power:hover,
#custom-VacuumTube:hover,
#custom-ProtonVpn:hover,
#custom-code:hover,
#custom-ghostty:hover,
#custom-steam:hover,
#custom-firefox:hover,
#custom-discord:hover,
#custom-qmmp:hover,
#custom-blender:hover,
#custom-dolphin:hover,
#custom-volume:hover {
border-top: 0px solid rgba(200,60,60,1);
border-bottom: 0px solid rgba(200,60,60,1);
color: rgba(200,60,60,1);
background: linear-gradient(180deg, rgba(0,0,0,0), rgba(200,60,60,0.0));
}

#custom-spacerRight {
border-radius: 0px 0px 0px 0px;
background: linear-gradient(rgba(0,0,0,1));
padding-right:32px;
margin-left:5px;
}


#custom-spacerLeft {
border-radius: 0px 0px 0px 0px;
background: linear-gradient(rgba(0,0,0,1));
padding-left:36px;
margin-left:3px;
}
