* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Maple Mono NF CN;
    font-size: 12px;
    font-weight: 500;
}

window#waybar {
background-color: rgba(8, 7, 23, 0.8);
    border: 0.7px solid rgba(0,0,0,0);
    color: #ffffff;
border: 2px solid rgba(199, 110, 140, 0.8);
    transition-duration: .5s;
    border-radius: 0px;
    
}

#custom-code {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-yt-music {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 23px 2px 17px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}


#custom-youtube {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 23px 2px 17px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}


#custom-ryujinx {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}


#custom-discord {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 24px 2px 16px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-steam {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-dolphin {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 20px 2px 20px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-gimp {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 23px 2px 17px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(29,19,36,0.8);
color:#CAAE48;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-kdenlive {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 23px 2px 17px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-inkscape {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 23px 2px 17px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-ghostty {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 21px 2px 19px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-unity {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 20.5px 2px 19.5px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-blender {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-libreoffice {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-obs {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 21px 2px 19px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-shortwave {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-obsidian {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}
#custom-godot {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-ardour {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 20px 2px 20px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-btdbattles {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 21.5px 2px 18.5px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-settings {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22.5px 2px 17.5px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-finals {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22.5px 2px 17.5px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}


#custom-persona {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 23px 2px 17px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-minecraft {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-firefox {
margin-bottom: 8px;
margin-top: 8px;
margin-left: 1px;
margin-right: 1px;
border-radius: 2px;
padding: 2px 22px 2px 18px;
border: 0px solid #000000;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
font-size: 18px;
background-color: rgba(40, 94, 146, 0.5);
transition: all 0.2s ease-in-out;
color:#C76E8C;
}

#custom-minecraft:hover,
#custom-firefox:hover,
#custom-code:hover,
#custom-yt-music:hover,
#custom-youtube:hover,
#custom-ryujinx:hover,
#custom-discord:hover,
#custom-steam:hover,
#custom-dolphin:hover,
#custom-gimp:hover,
#custom-kdenlive:hover,
#custom-inkscape:hover,
#custom-ghostty:hover,
#custom-unity:hover,
#custom-blender:hover,
#custom-libreoffice:hover,
#custom-obs:hover,
#custom-shortwave:hover,
#custom-obsidian:hover,
#custom-godot:hover,
#custom-ardour:hover,
#custom-btdbattles:hover,
#custom-settings:hover,
#custom-finals:hover,
#custom-persona:hover {
background-color: rgba(8, 7, 23, 1.0);
color:#184773;
transition: all 0.2s ease-in-out;
}
