window#waybar {
background-color: rgba(15, 15, 15, 1.0);
border: 2px solid #8D8D8D;
border-radius: 0px;
}

#workspaces button {
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
margin-top: 5px;
margin-bottom: 0px;
margin-left: 7px;
margin-right: 7px;
border-radius: 2px;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 14px;
font-weight: 300;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#workspaces:hover {
background-color: rgba(255,240,207,0.0);
color: #ED1651;
}

#workspaces button:hover {
background-color: transparent;
color: #CAAE48;
}

#workspaces {
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 10px;
margin-bottom: 5px;
margin-left: 0px;
margin-right: 0px;
border-radius: 100px;
border: 0px solid #000000;
}

#workspaces button.active {
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#workspaces button.urgent {
    background-color: transparent;
color:#7B7F80;
}

#mode {
    background-color: transparent;
    box-shadow: inset 0 -3px #000000;
}

#window {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
padding-left: 4px;
padding-right: 3px;
padding-top: 9px;
padding-bottom: 6px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 7px;
margin-right: 7px;
border-radius:2px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 14px;
font-weight: 500;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#battery {
padding-left: 12px;
padding-right: 10px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 6px;
margin-right: 0px;
border-radius: 2px;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 400;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#cpu {
padding-left: 8px;
padding-right: 12px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
border-radius: 0px 100px 100px 0px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 400;
background-color: rgba(255,240,207,0.2);
color: #ffffff;
}

#memory {
padding-left: 8px;
padding-right: 14px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 10px;
border-radius: 0px 100px 100px 0px;
border-top: 0px solid #000000;
border-right : 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 400;
background-color: rgba(255,240,207,0.2);
color: #ffffff;
}

#network {
padding-left: 2px;
padding-right: 10px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 6px;
border-radius: 0px 2px 2px 0px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 400;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-spacer {
padding-left: 0px;
padding-right: 0px;
}

#custom-logos {
padding-left: 0px;
padding-right: 3px;
padding-top: 2px;
padding-bottom: 3px;
margin-top: 7px;
margin-bottom: 0px;
margin-left: 7px;
margin-right: 7px;
border-radius: 2px;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 16px;
font-weight: 500;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-logosoo {
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 10px;
margin-right: 10px;
border-radius: 2px;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 16px;
font-weight: 700;
background-color: rgba(255,240,207,0.0);
color:#7B7F80;
}

#mpris {
padding-right: 4px;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 0px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 7px;
margin-right: 7px;
border-radius: 2px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 15px;
font-weight: 500;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-mprisicon {
padding-left: 8px;
padding-right: 19px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 400;
background-color: rgba(255,240,207,0.2);
color: #ffffff;
}

#custom-cpuicon {
padding-left: 10px;
padding-right: 4px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 400;
background-color: rgba(255,240,207,0.2);
color: #ffffff;
}

#custom-ramicon {
padding-left: 10px;
padding-right: 4px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 10px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 400;
background-color: rgba(255,240,207,0.2);
color: #ffffff;
}

#custom-wifiicon {
padding-left: 0px;
padding-right: 5px;
padding-top: 4px;
padding-bottom: 3px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 7px;
margin-right: 7px;
border-radius: 2px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 14px;
font-weight: 500;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-audioicon {
padding-left: 0px;
padding-right: 5px;
padding-top: 4px;
padding-bottom: 4px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 7px;
margin-right: 7px;
border-radius: 2px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 14px;
font-weight: 500;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-audio {
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
border-radius: 0px 2px 2px 0px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 500;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-bluetooth {
padding-left: 4px;
padding-right: 5px;
padding-top: 3px;
padding-bottom: 3px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 7px;
margin-right: 7px;
border-radius: 2px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 16px;
font-weight: 300;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-bluetoothlabel {
padding-left: 0px;
padding-right: 0px;
padding-top: 2px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 2px 2px 0px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 500;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-clockicon {
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 600;
background-color: rgba(123, 127, 128, 0.5);
color: #ffffff;
}

#window {
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: -5px;
margin-right: 0px;
border-radius: 2px;
border-bottom: 2px solid #42559F;
border-bottom: 2px solid #42559F;
border-bottom: 0px solid #000000;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 500;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-hyprshot {
padding-right: 3px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 0px;
margin-top: 0px;
margin-bottom: 5px;
margin-left: 7px;
margin-right: 7px;
border-radius: 2px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 16px;
font-weight: 500;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-hyprpicker {
padding-right: 3px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 0px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 7px;
margin-right: 7px;
border-radius: 2px;
border: 2px solid #3B63A1;
border: 2px solid #3B63A1;
border: 2px solid #3B63A1;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 12px;
font-weight: 600;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-power {
padding-right: 7px;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 5px;
margin-top: 5px;
margin-bottom: 7px;
margin-left: 7px;
margin-right: 7px;
border-radius: 2px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 14px;
font-weight: 300;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}

#custom-shuriken {
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 2px;
margin-bottom: 2px;
margin-left: 10px;
margin-right: 10px;
border-radius: 2px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
border: 0px solid #000000;
font-family: JetBrains Mono NF CN;
font-size: 11px;
font-weight: 600;
background-color: rgba(123, 127, 128, 0.5);
color:#7B7F80;
}
