* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono NF CN;
    font-size: 11px;
    font-weight: 200;
}

window#waybar {
    background-color: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,1);
    color: #ffffff;
}

#workspaces button {
background-color: rgba(255,240,207,0.2);
color: #ed1651;
padding-left: 12px;
padding-right: 12px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 3px;
margin-right: 5px;
border-radius: 100px;
border: 0px solid #000000;
}

#workspaces:hover {
background-color: rgba(255,240,207,0.0);
color: #ED1651;
}

#workspaces button:hover {
background-color: transparent;
color: #CAAE48;
}

#workspaces {
background-color: rgba(255,240,207,0.0);
color: #CAAE48;
color: #ed1651;
padding-left: 8px;
padding-right: 8px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: -3px;
border-radius: 100px;
border: 0px solid #000000;
}

#workspaces button.active {
background-color: rgba(255,255,255,0.2);
color: #FEB990;
}

#workspaces button.urgent {
    background-color: transparent;
    color: #CAAE48;
}

#mode {
    background-color: transparent;
    box-shadow: inset 0 -3px #000000;
}

#window {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
background-color: rgba(255,240,207,0.0);
color: #ffffff;
padding-left: 12px;
padding-right: 12px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 100px 100px 0px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#battery {
background-color: rgba(255,240,207,0.2);
color: #ffffff;
padding-left: 10px;
padding-right: 10px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 10px;
margin-right: 0px;
border-radius: 100px;
border: 0px solid #000000;
}

#cpu {
background-color: rgba(255,240,207,0.2);
color: #ffffff;
padding-left: 8px;
padding-right: 12px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
border-radius: 0px 100px 100px 0px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#memory {
background-color: rgba(255,240,207,0.2);
color: #ffffff;
padding-left: 8px;
padding-right: 14px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 10px;
border-radius: 0px 100px 100px 0px;
border-top: 0px solid #000000;
border-right : 0px solid #000000;
border-bottom: 0px solid #000000;
}

#network {
background-color: rgba(255,240,207,0.2);
color: #ffffff;
padding-left: 2px;
padding-right: 14px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 10px;
border-radius: 0px 100px 100px 0px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#custom-spacer {
padding-left: 3px;
padding-right: 3px;
}


#custom-logos {
background-color: rgba(255,240,207,0.0);
color: #ffffff;
padding-left: 6px;
padding-right: 6px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 10px;
border-radius: 100px;
border: 0px solid #000000;
}

#custom-logosoo {
background-color: rgba(255,240,207,0.0);
color: #ed1651;
padding-left: 6px;
padding-right: 5px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 10px;
margin-right: 6px;
border-radius: 5px;
border: 0px solid #000000;

}

#mpris {
background-color: rgba(255,240,207,0.2);
color: #ffffff;
padding-right: 14px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 14px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 100px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
border-left: 0px solid #000000;
}

#custom-mprisicon {
background-color: rgba(29,19,36,0.8);
color: #CAAE48;
padding-left: 8px;
padding-right: 12px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#custom-cpuicon {
background-color: rgba(255,240,207,0.2);
color: #FEB990;
padding-left: 10px;
padding-right: 4px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#custom-ramicon {
background-color: rgba(255,240,207,0.2);
color: #FEB990;
padding-left: 10px;
padding-right: 4px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 10px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#custom-wifiicon {
background-color: rgba(255,240,207,0.2);
color: #FEB990;
padding-left: 10px;
padding-right: 10px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 8px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#custom-audioicon {
background-color: rgba(255,240,207,0.2);
color: #FEB990;
padding-left: 8px;
padding-right: 10px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#custom-audio {
background-color: rgba(255,240,207,0.2);
color: #ffffff;
padding-left: 0px;
padding-right: 8px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
border-radius: 0px 100px 100px 0px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#custom-bluetooth {
background-color: rgba(255,240,207,0.2);
color: #ffffff;
padding-left: 2px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 10px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#custom-bluetoothlabel {
background-color: rgba(255,240,207,0.2);
color: #ffffff;
padding-left: 0px;
padding-right: 6px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
border-radius: 0px 100px 100px 0px;
border-top: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 0px solid #000000;
}

#custom-clockicon {
background-color: rgba(255,240,207,0.2);
color: #FEB990;
padding-left: 14px;
padding-right: 8px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
border-radius: 100px 0px 0px 100px;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-bottom: 0px solid #000000;
}



