/* ranger097 */

window#waybar {
background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
border-top: 0px solid rgba(200,60,60,1);
border-bottom: 1px solid rgba(0,0,0,1);
}

#window,
#custom-qmmp,
#custom-right-bracket,
#custom-left-bracket,
#workspaces button,
#clock,
#custom-vpn_ip,
#battery,
#mpris {
padding-left: 8px;
padding-right: 8px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 2px;
margin-bottom: 2px;
font-family: Maple Mono NF;
font-size: 11px;
font-weight: 400;
background: linear-gradient(0deg, rgba(0,0,0,0),rgba(0,0,0,0));
color:#a9a9a9;
margin-right: 0px;
}

#window:hover,
#custom-qmmp:hover,
#custom-right-bracket:hover,
#custom-left-bracket:hover,
#workspaces button:hover,
#clock:hover,
#custom-vpn_ip:hover,
#battery:hover,
#workspaces button:hover 
workspaces:hover{

color: rgba(200,60,60,1);

}


#mpris,
#clock,
#custom-vpn_ip,
#battery {
margin-right: 0px;
}

#battery {

margin-right: 0px;
}


#window {
margin-left: 0px;
}

#workspaces button {
margin-right: 6px;
margin-left:0px;
padding-left: 0px;
padding-right: 0px;
color: #a9a9a9;
font-size: 11px;
padding-top: 1px;
padding-bottom: 1px;
margin-top:-1px;
margin-bottom:-1px;
}

#custom-left-bracket {
color: #a9a9a9;
margin-right: 0px;
padding-right: 0px;
padding-left: 8px;
border-radius: 0px 0px 0px 0px;
background: linear-gradient(rgba(0,0,0,0));
margin-bottom: 0px;
margin-left: 0px;
}

#custom-right-bracket {
color: #a9a9a9;
margin-right: 0px;
padding-right: 8px;
padding-left: 0px;
border-radius: 0px 0px 0px 0px;
background: linear-gradient(rgba(0,0,0,0));
margin-bottom: 0px;
}

#mpris {
margin-right: 0px;
}

#custom-vpn_ip {
color: #a9a9a9;
}

#custom-qmmp {
margin-left: 0px;
margin-right: 0px;
}

#workspaces {
margin-bottom: 0px;
margin-top: 0px;
padding: 0px;
margin-left: 4px;
background: linear-gradient(rgba(0,0,0,0));
}


#workspaces:hover { background-color: rgba(0,0,0,0); color: #000000; }
#workspaces button:hover { background-color: rgba(0,0,0,1); color: #000000; }
#workspaces button.active { background-color: rgba(0,0,0,0);
 color: rgba(200,60,60,1); 
border-top: 0px solid rgba(200,60,60,0); 
}
#workspaces button.urgent { background-color: rgba(0,0,0,0); 
color:#000000;
padding-top: 1px;
padding-bottom:1px;
padding-right:6px;
padding-left:6px;
 }
#mode { background-color: rgba(0,0,0,0); }
#mode:hover {background-color: rgba(0,0,0,1);}
/*#window { margin: 0 0px; }*/
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 8px; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0; }
