/* ranger097 */

window#waybar {
background: linear-gradient(180deg, rgba(0,0,0,0.0));
border-bottom: 1px solid rgba(0,0,0,1);
border-top: 0px solid rgba(200,60,60,1);
}

#custom-right-bracket,
#custom-left-bracket,
#workspaces button,
#clock,
#custom-vpn_ip,
#battery,
#mpris,
workspaces {
padding-left: 5px;
padding-right: 5px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 5px;
margin-bottom: 5px;
border-radius: 0px;
border-top: 0px solid rgba(200,60,60,1);
font-family: Maple Mono NF;
font-size: 12px;
font-weight: 400;
background: linear-gradient(0deg, rgba(0,0,0,1));
color:#808080;
margin-right: 0px;
}

#mpris,
#clock,
#custom-vpn_ip,
#battery {
margin-right: 5px;
}

#workspaces button {
margin-right: 4px;
margin-left:0px;
padding-left: 5px;
padding-right: 5px;
color: rgba(200,60,60,1);
font-size: 12px;
}

#custom-left-bracket {
color: #808080;
margin-right: -1px;
padding-right: 0px;
padding-left: 5px;
border-radius: 0px 0px 0px 0px;
background: linear-gradient(rgba(0,0,0,1));
margin-bottom: 6px;
margin-left: 5px;
}

#custom-right-bracket {
color: #808080;
margin-right: 2px;
padding-right: 5px;
padding-left: 0px;
border-radius: 0px 0px 0px 0px;
background: linear-gradient(rgba(0,0,0,1));
margin-bottom: 6px;
}

#mpris {
margin-right: 0px;
}

#custom-vpn_ip {
color: #808080;
}


#workspaces:hover { background-color: rgba(0,0,0,0); color: #000000; }
#workspaces button:hover { background-color: rgba(0,0,0,1); color: #000000; }
#workspaces button.active { background-color: rgba(0,0,0,0); color: rgba(200,60,60,1); border-top: 0px solid rgba(200,60,60,0) }
#workspaces button.urgent { background-color: rgba(0,0,0,0); color:#000000; }
#mode { background-color: rgba(0,0,0,0); }
#mode:hover {background-color: rgba(0,0,0,1);}
#window { margin: 0 0px; }
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 5px; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0; }
