/* ranger097 */

window#waybar {
background-color: rgba(10,10,10,0.8);
}

#custom-spacerRight,
#custom-spacerLeft,
#workspaces button,
#clock,
#custom-vpn_ip,
#battery,
#mpris,
workspaces {
padding-left: 12px;
padding-right: 12px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 1px;
border-radius: 0px;
border: 0px solid rgba(0,0,0,1);
font-family: Maple Mono NF;
font-size: 12px;
font-weight: 700;
background: linear-gradient(rgba(200,60,60,1));
color:#000000;
margin-right: 0px;
}

#mpris,
#clock,
#custom-vpn_ip,
#workspaces button {
margin-right: 2px;
}

#battery {
margin-right: 0px;
}

#workspaces button {


}

#custom-spacerRight {
color:#000000;
margin-right: 2px;
padding-right: 12px;
padding-left: 12px;
border-radius: 0px 0px 0px 100px;
background: linear-gradient(rgba(0,0,0,0));
}

#custom-spacerLeft {
color:#000000;
margin-right: 2px;
padding-right: 12px;
padding-left: 12px;
border-radius: 0px 0px 100px 0px;
background: linear-gradient(rgba(0,0,0,0));
}


#mpris {

margin-right: 2px;
}


#workspaces:hover { background-color: rgba(0,0,0,1); color: #000000; }
#workspaces button:hover { background-color: rgba(0,0,0,1); color: #000000; }
#workspaces button.active { background-color: rgba(0,0,0,1); color:#808080; }
#workspaces button.urgent { background-color: rgba(0,0,0,1); color:#000000; }
#mode { background-color: rgba(0,0,0,1); }
#window { margin: 0 0px; }
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 0; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0; }

